<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.java_ee.dao.BusinessDao">

    <select id="SelectByOrderTypeId" parameterType="Integer" resultType="com.example.java_ee.entity.Business">
        select * from business where orderTypeId=#{orderTypeId}
    </select>

    <select id="SelectByBusinessId" parameterType="Integer" resultType="com.example.java_ee.entity.Business">
        select * from business where businessId=#{businessId}
    </select>

</mapper>