<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.java_ee.dao.FoodDao">

    <select id="Select" parameterType="Integer" resultType="com.example.java_ee.entity.Food">
        select * from food where businessId=#{businessId}
    </select>

</mapper>